{% extends "core/base.html" %}

{% load static %}
{% block title %}Dog Categories{% endblock title %}

{% block content %}

<!-- Dog Card-->
<div class="container ">                         <!-- we have created new container class-->
    <div class="row">                           <!-- we have created row class-->
        {% for cc in cat_category %}
        <div class="col-sm-4 ">
          <a href="{% url "petdetails" cc.id %}" style="text-decoration: none; ">        
            <div class="card dog_categories_card dog_card" style="width: 18rem; height:20rem">
                <img class="card-img-top " src="{{cc.pet_image.url}}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{cc.name}}</h5>
                   <div class="text-center">
                        <h5 class="font-weight-bold text-dark "><i class="fa-solid fa-indian-rupee-sign"></i>{{cc.discounted_price}} <small class="fw-light rupee">{{cc.selling_price}}</small> <small class="text-danger">(72% off)</small></h5>  
                    </div>
                </div>
            </div>
          </a>
        </div>       
        {% endfor %}
    </div>
</div>
<!--  End Dog Card-->


{% endblock content %}
