{% extends "core/base.html" %}

{% block content %}
<div class="container register h-50">
    <div class="register-heading ">
        <h2 class="mb-3 text-primary">Register Here</h2>
    </div>
   <form action="" method="POST" novalidate>
        {% csrf_token %}
       <label for="password">New Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        
        <label for="password2">Confirm New Password:</label>
        <input type="password" id="password2" name="password2" required><br><br>
        
        <button type="submit">Reset Password</button>
    </form>
</div>

{% endblock content %}