<!DOCTYPE html>
{% load static%}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "dc/css/main.css" %}">

</head>
<body>
    <h1>I am a Batman.</h1>
    <h1>Willian of Batman is {{villian}}</h1>

    <h1> Using Filter Function</h1>
    <h2>capfirst filter = {{villian|capfirst}}</h2>
    <h2>length filter = {{villian|length}}</h2>
    <h2>upper filter = {{villian|upper}}</h2>
    <h2>lower filter = {{villian|lower}}</h2>



    <img src="{% static "dc/images/batman.jpg" %}" alt="Batman">
</body>
</html>