{% extends "core/base.html" %}

{% block title %}About{% endblock title %}

{% block content %}

<div class="container about">
    <div class="heading_about">
        <h1>About US</h1>
    </div>
    <div class="para">
        Welcome to [Your Pet Store Name], where our love for pets is at the heart of everything we do. We are passionate about providing the best products and services for your beloved companions, ensuring they lead happy, healthy lives.
    </div>
    <div class="mission">
        <h1>Our Mission</h1>
    </div>
    <div class="mission_para">
        At [Your Pet Store Name], our mission is simple — to be your go-to destination for all things pet-related. Whether you're a proud pet parent, a seasoned animal enthusiast, or just looking for the perfect companion, we've got you covered.
    </div>
    <div class="ourstory">
        <h1>Our Story</h1>
    </div>
    <div class="ourstory_Para">
        Founded in [Year], [Your Pet Store Name] started as a small family business with a big dream. Our journey began with a shared love for animals and a commitment to offering premium products and expert advice. Over the years, we've grown into a thriving community of pet lovers dedicated to providing exceptional care for our furry, feathered, and scaly friends.
    </div>
    <div class="apart">
        <h1>What Sets Us Apart</h1>
    </div>
    <div class="apart_para">
        Quality Products: We curate a wide range of premium pet products, from nutritious foods to stylish accessories, ensuring the well-being and happiness of your pets.

        Expert Advice: Our knowledgeable and friendly staff are here to assist you. Whether you have questions about pet care or need recommendations, we're always ready to help.

        Community Engagement: We believe in fostering a strong sense of community. Follow us on social media to stay connected, participate in events, and share your pet stories.
    </div>
    <div class="commitment">
        <h1>Our Commitment</h1>
    </div>
    <div class="commitment_para">
        As pet enthusiasts ourselves, we understand the unique bond between pets and their owners. That's why we are committed to providing:

        Exceptional Service: Your satisfaction is our top priority. From your first visit to ongoing support, we strive to exceed your expectations.

        Ethical Practices: We prioritize ethical sourcing and sustainable practices. Many of our products are eco-friendly and cruelty-free.

        Giving Back: We believe in giving back to the community. [Your Pet Store Name] supports local animal shelters and initiatives to ensure every pet finds a loving home.
    </div>
</div>


{% endblock content %}
