{% extends "core/base.html" %}

{% block content %}
<div class="container-fluid forget-pass py-5">
    <div class="container profile-form rounded shadow-lg p-4">
        <div class="reg mb-4 text-center">
            <h3 class="text-danger">Forgot Password</h3>
        </div>
        <!-- forgot_password.html -->
        <form  method="POST" class="text-center">
            {% csrf_token %}
            <div class="form-group mb-3 mt-2">
                <input type="email" id="email" name="email" class="form-control form-control-lg" placeholder="Enter your email" >
            </div>
            <button type="submit" class="btn btn-gradient btn-lg">Reset Password</button>
        </form>
        <br>
        {% if messages %}
        {% for message in messages %}
             <span {% if message.tags %} class="alert alert-{{message.tags}}" {% endif %}>{{message}}</span>
        {% endfor %}
        {% endif %}
    </div>
    
</div>

   

{% endblock content %}