<div class="container mt-5 x">    <!-- mt-4 stand for top margin from o-5 value -->
    <h1 class="pet-cat">Pet Categories </h1>
</div>
    <div class="container mt-4">
        <div class="card-deck">
          <!-- Dog card start-->
          <a href="{% url "dogcategories" %}" class = "card-img-href" style="text-decoration:none;">
            <div class="card ml-5 mt-5 mb-5" style="width: 18rem;">
                <img class="card-img-top" src="static/core/images/dog/card_dog.jpg" alt="Card image cap">
                <div class="card-body" style= "">
                  <p class="card-text">Dogs are loyal, domesticated mammals known for companionship.</p>
                </div>
              </div>
            </a>
          <!-- Dog card End-->
      
          <!-- Cat card start-->

          <a href="{% url "catcategories" %}" class = "card-img-href" style="text-decoration:none;">
              <div class="card ml-5 mt-5" style="width: 18rem;">
                <img class="card-img-top" src="static/core/images/cat/cat_card.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text"> Cats are cherished companions known for their independence, agility, and affectionate behavior.</p>
                </div>
              </div>
          </a>
          <!-- Cat card End-->
            
          <!-- Bird card start-->
          <a href="{% url "birdcategories" %}" class = "card-img-href" style="text-decoration:none; ">
              <div class="card ml-5 mt-5 mr-5" style="width: 18rem;">
                <img class="card-img-top" src="static/core/images/bird/bird_card.jpg" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text"> Birds are a highly diverse with remarkable adaptations for various environments.</p>
                </div>
              </div>
          </a>
          <!-- Bird card End-->
          
        </div>
    </div>

