{% extends "core/base.html" %}

{% block content %}
<div class="container-fluid success-message d-flex justify-content-center align-items-center min-vh-100">
    <div class="text-center p-4 success-content rounded shadow-lg">
        <h2 class="text-light mb-4">Password Reset Successfully</h2>
        <p class="text-light">An email with instructions on how to reset your password has been sent to your email address.</p>
        <a href="{% url 'home' %}" class="btn btn-gradient mt-4">Back To Home</a>
    </div>
</div>

{% endblock content %}
