{% extends "core/base.html" %}

{% block title %}Pet Details{% endblock title %}

{% block content %}
<div class="container petdetails">
    <div class="row">
        <div class="col-sm-6">
                <span class="border border-danger">
                    <img src="{{pet.pet_image.url}}" class="img-fluid rounded border border-primary" alt="Responsive image" >
                </span>
        </div>
        <div class="col-sm-6">
            <div class="container">
                <h1 class="jumbotron-heading text-center text-danger">{{pet.name}}</h1>
                <p class="lead text-center">{{pet.small_description}}</p>
                    <div class="text-center">
                        <h4 class="font-weight-bold pet-discounted-price"><i class="fa-solid fa-indian-rupee-sign text-danger"></i>  {{pet.discounted_price}} <s class="text-warning"> <small class="fw-light rupee text-danger"> {{pet.selling_price}}  </small> </s><small class="text-danger">({{percentage}}% off)</small></h4> 
                        <a href="{% url 'addtocart' pet.id %}" class="btn btn-danger my-2 mr-2 add-to-cart">Add to cart</a>    <!-- when we will click on add to cart button, addtocart url will be called along with id of particular pet, then particular pet id will be send to the add_to_cart() in views -->
                        <a href="{% url "buynow" pet.id %}" class="btn btn-warning my-2 buy-now"> Buy Now</a>
                    </div>
                <div class="description">
                <h2 class="jumbotron-heading mt-5 pet-description-heading">Description</h2>
                   <div class="pet-description">{{pet.description}}</div> 
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
    
{% endblock content %}
